/*
Theme Name: Twenty Twenty
Theme URI: https://wordpress.org/themes/twentytwenty/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Version: 1.3
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwenty
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@font-face {
  font-family: 'Montserrat-light';
  src: url(./fonts/Montserrat-Light.ttf);
  font-weight: 200; }

@font-face {
  font-family: 'Montserrat-regular';
  src: url(./fonts/Montserrat-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Montserrat-medium';
  src: url(./fonts/Montserrat-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: 'Montserrat-bold';
  src: url(./fonts/Montserrat-Bold.ttf);
  font-weight: 700; }

h1 {
  color: blue;
  font-family: 'Montserrat-bold';
  font-size: 30pt; }

h2 {
  color: blue;
  font-family: 'Montserrat-bold';
  font-size: 25pt; }

h3 {
  color: blue;
  font-family: 'Montserrat-medium';
  font-size: 15pt; }

p {
  font-family: 'Montserrat-regular';
  word-wrap: break-word;
  font-size: 12pt; }

a {
  color: blue;
  font-family: 'Montserrat-regular';
  text-decoration: none !important; }

ul {
  list-style: none;
  padding-inline-start: 0px; }

li {
  color: black;
  display: inline; }

img {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto 0 auto; }

button {
  background-color: white;
  color: red;
  text-decoration: underline;
  font-size: medium;
  border-style: none;
  font-family: inherit;
  font-weight: 200; }

button:hover {
  background-color: red;
  color: white;
  border-color: white; }

table, th, td {
  border: 2px;
  border-style: solid;
  border-color: blue;
  border-collapse: collapse; }

table {
  width: 100%;
  border: 0px; }

body {
  height: 100%;
  display: grid;
  grid-template-columns: 5% 20% 25% 25% 20% 5%;
  grid-template-rows: auto auto auto auto auto auto auto auto 100px auto;
  background-color: white;
  margin: 0;
  font-family: Montserrat, Roboto, sans-serif; }

.content {
  grid-column: 2/6;
  grid-row: 2/3;
  padding: 1em;
  margin: 0 3em 0 3em; }

@media screen and (max-width: 1200px) {
  .content {
    margin: 0 1em 0 1em; }
  h3 {
    font-size: 10pt; }
  p {
    font-size: 8pt; } }

@media screen and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1% 24% 25% 25% 24% 1%;
    grid-template-rows: auto auto auto auto auto 100px auto; }
  .content {
    grid-column: 2/6;
    grid-row: 2/3;
    padding: 1em;
    margin: 0 1em 0 1em; } }

.um {
  opacity: 1 !important; }

.menuWrap {
  grid-column: 1/7;
  grid-row: 1/2;
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
  border-color: blue;
  box-shadow: 0 3px 2px -2px grey; }

.menu {
  display: flex;
  justify-content: left; }

.menu-item {
  display: inline;
  margin: 0 25px;
  width: fit-content; }
  .menu-item a {
    color: black;
    text-decoration: none; }

.secondaryMenu {
  padding: 3px 0;
  background-color: #EAF2F9; }

.menu-item-has-children {
  position: relative; }
  .menu-item-has-children > .sub-menu {
    font-size: 0.8em;
    margin: 1rem 0 1rem 3rem; }
  .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    background-color: #EAF2F9;
    padding: 0.5rem 3rem 1rem;
    left: 0;
    margin-left: 0;
    display: none;
    font: 1em;
    margin-top: 0;
    z-index: 1000; }
    .menu-item-has-children .sub-menu .menu-item {
      line-height: 1.5;
      padding: 1rem 0;
      white-space: nowrap; }
  .menu-item-has-children:focus, .menu-item-has-children:hover {
    cursor: pointer; }
    .menu-item-has-children:focus .sub-menu, .menu-item-has-children:hover .sub-menu {
      display: block; }

@media screen and (max-width: 1200px) {
  .headerLogo {
    margin: 0px; }
  .menu-header-container {
    margin: 0 1rem 0 0; } }

@media screen and (max-width: 1024px) {
  .headerLogo {
    margin-left: -20px;
    max-width: 25%; } }

.menu-footer-menu-container {
  grid-column: 1/7;
  grid-row: 6/7;
  border: 0px;
  border-top: 2px;
  border-color: blue;
  border-style: solid;
  background-color: #EAF2F9; }

.postList {
  display: inline-block;
  width: 85%; }
  .postList ul {
    margin: none;
    list-style: none;
    width: 100%; }
  .postList div {
    width: 100%;
    background-color: #EAF2F9;
    padding-bottom: 1em; }
  .postList li {
    display: inline;
    width: 30%;
    float: left;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    height: 300px; }
  .postList img {
    display: block;
    width: 100%;
    border: 0px;
    border-bottom: 1px;
    border-color: blue;
    border-style: solid; }
  .postList h3, .postList p {
    display: inline; }
  .postList h3 {
    color: #000000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em; }
  .postList p {
    color: #707070; }
  .postList .cta {
    color: #FF0000;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0.5em;
    display: block; }

.postFilter {
  display: inline-block;
  padding: 0;
  margin: 20px 0 0 0;
  vertical-align: top; }
  .postFilter ul {
    width: 150px;
    padding-left: 0; }
  .postFilter button {
    text-decoration: none;
    color: #000000; }

.acf-fields {
  grid-column: 2/6;
  grid-row: 2/3;
  padding: 1em 4em 1em 4em; }

.startup-title {
  width: 100%;
  margin-bottom: 1em; }
  .startup-title h3 {
    color: #000000; }

.startup-image {
  width: 70%;
  display: inline-block; }
  .startup-image img {
    width: 100%;
    height: auto; }

.startup-info {
  width: 25%;
  padding: none;
  display: inline-block;
  vertical-align: top; }

.startup-content {
  grid-column: 2/6;
  grid-row: 3/5;
  padding: 1em 4em 1em 4em; }
