.postList{
    display: inline-block;
    width: 85%;


    ul{
        margin: none;
        list-style: none;
        width: 100%;
    }
    div{
        width: 100%;
        background-color: #EAF2F9;
        padding-bottom: 1em;
    }

    li{
        display: inline;
        width: 30%;
        float: left;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 3em;
        height: 300px;
    }
    img {
        display: block;
        width: 100%;
        border: 0px;
        border-bottom: 1px;
        border-color: rgb(0,0,255);
        border-style: solid;

    }

    h3, p{
        display: inline;

    }

   h3{
        color: #000000;
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
        
    }
    p{
        color: #707070;
    }

    .cta{
        color: #FF0000;
        text-decoration: none;
        margin: 0.5em 0 0.5em 0.5em;
        display: block;
    }
}

 .postFilter{
        display: inline-block;
        padding: 0;
        margin: 20px 0 0 0;
        vertical-align: top;
    

    ul {
        width: 150px;
        padding-left: 0;
    }

    button{
        text-decoration: none;
        color: #000000;
    }

}