.acf-fields {
    grid-column:2/6;
    grid-row: 2/3;
    padding:1em 4em 1em 4em;
}

.startup-title {
    width: 100%;
    margin-bottom: 1em;


    h3 {
        color: #000000;
    }
}

.startup-image {
    width: 70%;
    display: inline-block;


    img{
        width: 100%;
        height: auto;
    }
}

.startup-info {
    width: 25%;
    padding:none;
    display: inline-block;
    vertical-align:top;
}

.startup-content {
    grid-column: 2/6;
    grid-row: 3/5;
    padding:1em 4em 1em 4em;
}


