.menu-footer-menu-container {
    grid-column: 1/7;
    grid-row: 6/7;

    border: 0px;
    border-top: 2px;
    border-color: rgb(0,0,255);
    border-style: solid;
    background-color: #EAF2F9;

}
