.menuWrap {
    grid-column: 1/7;
    grid-row: 1/2;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(0,0,255);

    box-shadow: 0 3px 2px -2px grey;
}


.menu {
    display: flex;
    justify-content: left;
}

.menu-item {
    display: inline;
    margin: 0 25px;
    width: fit-content;

    a {
    color: black;
    text-decoration: none;
    }

}

.secondaryMenu {
    padding: 3px 0;
    background-color: #EAF2F9;
}

.menu-item-has-children {
    position: relative;
    > .sub-menu {
        font-size: 0.8em;
        margin: 1rem 0 1rem 3rem;
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        background-color: #EAF2F9;
        padding: 0.5rem 3rem 1rem;
        left: 0;
        margin-left: 0;
        display: none;
        font: 1em;
        margin-top: 0;
        z-index: 1000;

        .menu-item {
            line-height: 1.5;
            padding: 1rem 0;
            white-space: nowrap;
        }
    }
    &:focus,
    &:hover {
        cursor: pointer;
        .sub-menu {
            display: block;
        }
    }
    

}



@media screen and (max-width: 1200px) {
    .headerLogo {
        margin: 0px;
    }

    .menu-header-container {
        margin: 0 1rem 0 0;
    }
}

@media screen and (max-width: 1024px) {
    .headerLogo {
        margin-left: -20px;
        max-width: 25%;
    }
}